/* On utilise le selecteur universel * pour réinitialiser le navigateur*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*Par défaut la valeur est de 100%(1rem = 16px) mais pour simplifier la conversion en 
modifiant la valeur de référence pour qu'elle conrresponde à 10px.
Comment? --> en faisant un produit en croix --> (100% * 10px) / 16px */
html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem; /* Soit 14px */
    font-family: 'Quicksand sans-serif';
    color: white;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(197, 88, 88), pink, rgb(241, 225, 225));

}
.configuration{
    background-color: aqua;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}
.canvasSizeS{
    padding: 1em;
    border:0;
    font-size: 1.2em;
    width: 10em;
    margin-right: 2px;
}

.btnStyle{
    padding: 1em;
    border:0;
    font-size: 1.2em;
    color: #fff;
    background: rgb(126, 73, 73);
    border-radius:0 .5em .5em 0;
}
#invader{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}
.cell{
    height: 5rem;
    width: 5rem;
    background-color: rgb(213, 218, 218);
    border: 1px solid black;
}
.black-color{
    background-color: black;
}